<p>Admin</p>
<h1><%= @product.name %></h1>
<h3><%= @product.description %></h3>
<h4>Category: <%= @product.category.name %></h4>

<%= link_to "Edit this product", edit_admin_product_path(@product) %>
<br>
<%= link_to "Delete this product", admin_product_path(@product), method: :delete %>
<br>
<%= link_to "Add a product variant", new_admin_product_product_variant_path(@product), class: "btn btn-primary" %>
